<p id="notice"><%= notice %></p>

<p>
  <strong>遊戲名稱:</strong>
  <%= @member_list.name_in_game %>
</p>

<p>
  <strong>Discord名稱:</strong>
  <%= @member_list.name_in_discord %>
</p>

<p>
  <strong>玩家ID:</strong>
  <%= @member_list.player_id %>
</p>

<p>
  <strong>戰力:</strong>
  <%= @member_list.combat_capabilities %>
</p>

<p>
  <strong>職業:</strong>
  <%= @member_list.player_job %>
</p>

<p>
  <strong>EX技能:</strong>
  <%= @member_list.player_exability %>
</p>

<p>
  <strong>屬性:</strong>
  <%= @member_list.player_attribute %>
</p>

<p>
  <strong>MVP（要/不要）:</strong>
  <%= @member_list.needMVP %>
</p>

<p>
  <strong>備註:</strong>
  <%= @member_list.notes %>
</p>

<%= link_to '編輯', edit_member_list_path(@member_list) %> |
<%= link_to '返回', member_lists_path %>
